doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
        
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(type='text/javascript').
      function SubmitForMySQL() {
      console.log(document.getElementById("form").elements['home'].value);
      localStorage.setItem("home_address", document.getElementById("form").elements['home'].value);
      localStorage.setItem("work_address", document.getElementById("form").elements['work'].value);
      localStorage.setItem("electrical_utility", document.getElementById("form").elements['elec'].value);
      }

    title Accounts
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    include includes/css/core.pug

    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark
    script(src="/accounts.js")
      
    include includes/navbar.pug
    
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            a(href='index') Dashboard
          li.breadcrumb-item.active Accounts
          
        
        .container-fluid
          .row
            .col-md-5
              .card.text-center
                .card-header.bg-light.mb-2 Linked Accounts
                .card-body
                  button#btnlink.btn.btn-primary.btn-lg(type="button") Link Account
                  hr
                  #accountsListDiv
                  p.list-group-item Hiya
                  p.list-group-item Heyo
                  p.list-group-item Heya
            .col-md-7
              .card
                .card-header.bg-light.mb-3 Account Details
                .card-body
                  #nonealert.alert.alert-primary Select a linked account to view here.
                  hr
                  form(role='form' id='form' action='/')
                      .form-group
                        label Personal Information
                        input.form-control(name='home' placeholder='Home Address')
                        p.help-block To change or enter a home address, type above.
                      .form-group
                        input.form-control(name='work' placeholder='Work Address')
                        p.help-block To change or enter a work address, type above.
                      .form-group
                        input.form-control(name='elec' placeholder='Electric Utility Company')
                        p.help-block To change or enter a Electric Utility Company, type above.
                      button.btn.btn-primary(type='button' onclick="SubmitForMySQL()") Submit Button  
                      button.btn.btn-default(type='button')
                      button.btn.btn-secondary(type='reset') Reset Button
                      
                      
        
      include includes/footer.pug

      include includes/scroll-to-top.pug

      include includes/modals/logout.pug

      include includes/js/core.pug

      include includes/js/custom.pug
