doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
        
    title SB Admin - Start Bootstrap Template

    include includes/css/core.pug

    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark
    include includes/navbar.pug
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Dashboard
          li.breadcrumb-item.active Porfolio
        // Area Chart Example
        .row
            .col-md-6
                .card.mb-3
                  .card-header
                    i.fa.fa-area-chart
                    |  Gassing Near Home
                  .card-body
                    #myAreaCharta(width='100%', height='50')
                        font(size='8', color='green') Save 7.00%!
                        p By fueling up at 1299 US-130 N Robbinsville, NJ.
                  .card-footer.small.text-muted
                    | Updated just now!
            .col-md-6
                .card.mb-3
                  .card-header
                    i.fa.fa-area-chart
                    |  Gassing Near Work
                  .card-body
                    #myAreaChartb(width='100%', height='50')
                        font(size='8', color='green') Save 17%!
                        p By fueling up at 607 Somerset St Somerset, NJ.
                  .card-footer.small.text-muted
                    | Updated just now!
        .row
            .col-md-6
                .card.mb-3
                  .card-header
                    i.fa.fa-area-chart
                    |  Gas Price Per Month Near Home
                  .card-body
                    canvas#myAreaChart1(width='100%', height='50')

                  .card-footer.small.text-muted
                    | Updated just now!
            .col-md-6
                .card.mb-3
                  .card-header
                    i.fa.fa-area-chart
                    |  Total Factor Cost of Gassing Up Near Home
                  .card-body
                    canvas#myAreaChart2(width='100%', height='50')

                  .card-footer.small.text-muted
                    | Updated just now!
        .row
            .col-md-6
                .card.mb-3
                  .card-header
                    i.fa.fa-area-chart
                    |  Gas Price Per Month Near Work
                  .card-body
                    canvas#myAreaChart3(width='100%', height='50')
                  .card-footer.small.text-muted
                    | Updated just now!
            .col-md-6
                .card.mb-3
                  .card-header
                    i.fa.fa-area-chart
                    |  Total Factor Cost of Gassing Up Near Work
                  .card-body
                    canvas#myAreaChart4(width='100%', height='50')
                  .card-footer.small.text-muted
                    | Updated just now!
      // /.container-fluid
      // /.content-wrapper

      include includes/footer.pug

      include includes/scroll-to-top.pug

      include includes/modals/logout.pug

      include includes/js/core.pug

      // Page level plugin JavaScript
      script(src='vendor/chart.js/Chart.min.js')

      include includes/js/custom.pug

      // Custom scripts for this page
      script(src='js/sb-admin-charts.min.js')
