doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    
    title Login

    include includes/css/core.pug

    include includes/css/custom.pug
    
    script(type='text/javascript').
      //<![CDATA[
      var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
      document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
      //]]>

  body.bg-dark
    script(src="/login.js")
    .container
      .card.card-login.mx-auto.mt-5
        .card-header
          | Log in to Valuqo
        .card-body
          #initCheck.alert.alert-info
            p.temp Initializing.....
            p.temp Checking Cobrand Login Configurations
          form
            .form-group
              label(for='exampleInputEmail1') User
              input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email or username')
            .form-group
              label(for='exampleInputPassword1') Password
              input#exampleInputPassword1.form-control(type='password', placeholder='Password')
            .form-group
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  |                   Remember Username
            #submitButton.a.btn.btn-primary.btn-block.disabled(href='index.html') Login
          .text-center
            a.isDisabled.d-block.small.mt-3 Register an Account (Disabled)
            a.isDisabled.d-block.small Forgot Password? (Disabled)
          script(language='JavaScript', type='text/javascript').
            TrustLogo("/comodo_secure_seal_113x59_transp.png", "CL1", "none");
    
    //a#comodoTL(href='https://www.positivessl.com/') Positive SSL

    include includes/js/core.pug
