<!DOCTYPE html>
<!--tables.html, includes the gas algorithm, parsing the js files (due to errors when separating js script files), adding to table, plotting on Google Embed API's map, and using "Places" to plot nearby gas stations.-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Test Ajax</title>
  <script type='text/javascript' src='/Users/Sathya/Documents/GitHub/1718_valuqo/public/testajaxss.js'></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <div id='data'></div>
</body>

</html>
