doctype html
// tables.html, includes the gas algorithm, parsing the js files (due to errors when separating js script files), adding to table, plotting on Google Embed API's map, and using "Places" to plot nearby gas stations.
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
        
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(type='text/javascript', src='/ajax-cross-origin/js/jquery.ajax-cross-origin.min.js')
    
    script(src='/testajaxss.js')
    
    title Test Ajax
    
  body#page-top.fixed-nav.sticky-footer.bg-dark
    #data asdf
    #test1(style='display: block') asdf
    #test2(style='display: block') asdf
    #test3(style='display: block') asdf
    #datas asdf
